* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: linear-gradient(rgb(160 108 209), rgb(74 71 245));
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 5vh;
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.nav-links a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.nav-links a:active {
  transform: scale(1);
}

section {
  scroll-margin-top: 5vh;
  min-height: 95vh;
  display: flex;
  align-items: center;
}

h1,
h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

#home {
  text-align: center;
  height: 100vh;
}

#home h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

#home p {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-card {
  background: white;
  color: rgb(0, 0, 0);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.project-card h3 {
  margin-bottom: 10px;
  text-align: left;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-links a {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .nav-links a {
    font-size: 16px;
  }

  #home h1 {
    font-size: 48px;
  }

  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-card {
    flex: 1;
    min-width: 300px;
    max-width: 350px;
  }

  .contact-links {
    flex-direction: row;
    justify-content: center;
  }

  .contact-links a {
    flex: 1;
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }

  .nav-content {
    width: 80%;
  }
}
